<!--        * New Account Page
        If the api call does not return a disqualification message(see below), this page
        should have a simple account creation form including:

        Username (Text)
        Password (Text)

        The username should be validated as an email and password should require more than 8
        characters and a number or special character. Ensure the user types their password
        twice to validate their intent.-->
<div class="row">
    <div class="col-12">
        <div class="row mat-elevation-z1 header-wrapper">
            <div class="col-12">
                <h1 class="mat-h1 mat-headline">New Account Page</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div *ngIf="loanQualifierData" class="mat-h2 mat-headline"
                     [innerHTML]="loanQualifierData.qualificationTitle">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div *ngIf="loanQualifierData" class="mat-h4" [innerHTML]="loanQualifierData.qualificationBody">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div *ngIf="loanQualifierData" class="mat-h4" [innerHTML]="loanQualifierData.qualificationMessage">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-10 form-wrapper mat-elevation-z2">
                <form [formGroup]="calculatorForm" (submit)="submitUser()" (input)="onChange()">
                    <div class="row ">
                        <div class="col-12 col-lg-6">
                            <div class="row ">
                                <div class="col-12">
                                    <mat-form-field class="input-field-width">
                                        <mat-label>Username</mat-label>
                                        <input matInput type="email" placeholder="Enter a valid email for your username"
                                               [value]="calculatorForm.value.username"
                                               formControlName="username">
                                        <mat-hint align="end">
                                            Username must be a valid email
                                        </mat-hint>
                                        <mat-error
                                                *ngIf="validation.username.errors?.required && (calculatorForm.touched || calculatorForm.dirty)">
                                            required
                                        </mat-error>
                                        <mat-error
                                                *ngIf="validation.username.errors?.email && (calculatorForm.touched || calculatorForm.dirty)">
                                            Username must be a valid email
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="row ">
                                <div class="col-12">
                                    <mat-form-field class="input-field-width">
                                        <mat-label>Password</mat-label>
                                        <input matInput type="email" placeholder="Enter a valid email for your password"
                                               [value]="calculatorForm.value.password"
                                               formControlName="password"
                                               [errorStateMatcher]="matcher"
                                        >
                                        <mat-hint align="end">
                                            Password must contain 8 characters and a number or special character
                                        </mat-hint>
                                        <mat-error
                                                *ngIf="validation.password.errors?.required && (calculatorForm.touched || calculatorForm.dirty)">
                                            required
                                        </mat-error>
                                        <mat-error
                                                *ngIf="validation.password.errors?.minLength && (calculatorForm.touched || calculatorForm.dirty)">
                                            Password must contain 8 characters
                                        </mat-error>
                                        <mat-error
                                                *ngIf="validation.password.errors?.pattern && (calculatorForm.touched || calculatorForm.dirty)">
                                            Password must contain a number or special character
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-12">
                                    <mat-form-field class="input-field-width">
                                        <mat-label>Confirm Password</mat-label>
                                        <input matInput type="email" placeholder="Re-enter your password"
                                               [value]="calculatorForm.value.passwordConfirm"
                                               formControlName="passwordConfirm"
                                               [errorStateMatcher]="matcher"
                                        >
                                        <mat-hint align="end">
                                            The Confirm Password must match Password
                                        </mat-hint>
                                        <mat-error
                                                *ngIf="validation.passwordConfirm.errors?.required && (calculatorForm.touched || calculatorForm.dirty)">
                                            required
                                        </mat-error>
                                        <mat-error
                                                *ngIf="calculatorForm.errors?.confirmMatchValidator && (calculatorForm.touched || calculatorForm.dirty)">
                                            The Confirm Password must match Password
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-12 button-col-new">
                                <button class="d-flex align-items-center submit-button" type="submit" mat-stroked-button
                                        (mouseup)="submitUser()" [disabled]="!calculatorForm.valid">Create New User
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
