.menu {
  //background-color: rgba(108, 117, 125, 0.25);
  background-color: $custom-background-color;
  width: 100%;
  margin-bottom: 15px;
  padding: 7px;
}


/*
.mat-menu-item {
  color: blue !important;
}

button.mat-menu-item{
  background-color: white;
}

button.mat-menu-item:hover {
  background-color: blue;
  color: #fff !important;
}
*/



.header-wrapper {
  padding-top: 15px;
  margin-bottom: 15px;
}

.form-wrapper {
  //background-color: $mat-indigo;
  //background-color: $candy-app-primary;
  //background-color: $primary;
  //background-color: mat-color($mat-indigo, darker);
  background-color: $custom-background-color;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.input-field-width {
  width: 100%;
}

.dollar-sign-icon {
  position: absolute;
  right: 0;
  top: 18px;
  margin-left: auto;
}

.dollar-input {
  padding-left: 30px;
}

.button-col {
  position: relative;

  margin-top: 65px;

  .submit-button {
    position: absolute;
    bottom: 0;
    right: 15px;
  }
}
.button-col-new {
  position: relative;

  margin-top: 65px;

  .submit-button {
    position: absolute;
    bottom: 0;
    right: 0px;
  }
}

//.primary-light-bg {
//  background-color: mat-color($primary, lighter);
//}

//.primary-dark-bg {
//  background-color: mat-color($primary, darker);
//}
//
//.primary-bg-A200 {
//  background-color: mat-color($primary, A200);
//}
//
//.primary-bg-A300 {
//  background-color: mat-color($primary, A400);
//}
