<!--    * Disqualification Page
Display a simple page with the disqualification message that comes from
the api call as well as fake information to get in contact with a customer service.
There should be no further way to get off this page or re-enter the information.-->
<div class="row">
    <div class="col-12">
        <div class="row mat-elevation-z1 header-wrapper">
            <div class="col-12">
                <h1 class="mat-h1 mat-headline">Disqualification Page</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div *ngIf="disqualificationData" class="mat-h2 mat-headline"
                     [innerHTML]="disqualificationData.qualificationTitle">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div *ngIf="disqualificationData" class="mat-h4" [innerHTML]="disqualificationData.qualificationBody">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div *ngIf="disqualificationData" class="mat-h2 mat-headline"
                     [innerHTML]="disqualificationData.contactTitle">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div *ngIf="disqualificationData" class="mat-h4" [innerHTML]="disqualificationData.qualificationMessage">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div *ngIf="disqualificationData" class="mat-h4" [innerHTML]="disqualificationData.contactInformation">
                </div>
            </div>
        </div>
    </div>
</div>
