<div class="row">
    <div class="col-12">
        <div class="row mat-elevation-z1 header-wrapper">
            <div class="col-12">
                <h1 class="mat-h1">Landing Page</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="mat-h4">
                    <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Vestibulum fringilla
                        pede sit amet augue. Vestibulum rutrum, mi nec elementum vehicula, eros quam gravida nisl, id
                        fringilla neque ante vel mi. Duis vel nibh at velit scelerisque suscipit.
                        Etiam sit amet orci eget eros faucibus tincidunt. Morbi mattis ullamcorper velit. Proin faucibus
                        arcu quis ante. Proin viverra, ligula sit amet ultrices semper, ligula arcu tristique sapien, a
                        accumsan nisi mauris ac eros.
                    </p>
                    <p>Nullam tincidunt adipiscing enim. Nunc nec neque. Sed libero. Nam pretium turpis et arcu.
                        Vivamus elementum semper nisi. Etiam sollicitudin, ipsum eu pulvinar rutrum, tellus ipsum
                        laoreet sapien, quis venenatis ante odio sit amet eros. Praesent blandit laoreet nibh. Phasellus
                        nec sem in justo pellentesque facilisis.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-10 form-wrapper mat-elevation-z2">
                <form [formGroup]="calculatorForm" (submit)="submitRequestCheck()">
                    <div class="row ">
                        <div class="col-12 col-lg-6">
                            <div class="row ">
                                <div class="col-12">
                                    <mat-form-field class="input-field-width">
                                        <mat-label>Auto Purchase Price</mat-label>
                                        <input matInput type="text" placeholder="Enter the automobile's purchase price "
                                               [value]="calculatorForm.value.autoPurchasePrice"
                                               formControlName="autoPurchasePrice"
                                               (input)="currencyFormat($event,'autoPurchasePrice')">
                                        <mat-hint align="end">Purchase prices in excess of $1,000,000 will not be
                                            approved
                                        </mat-hint>
                                        <mat-error
                                                *ngIf="validation.autoPurchasePrice.errors && (calculatorForm.touched || calculatorForm.dirty)">
                                            required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <mat-form-field class="input-field-width">
                                        <mat-label>Auto Make</mat-label>
                                        <input matInput type="text" placeholder="Enter the automobile's make"
                                               formControlName="autoMake"
                                        >
                                        <mat-error
                                                *ngIf="validation.autoMake.errors && (calculatorForm.touched || calculatorForm.dirty)">
                                            required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <mat-form-field class="input-field-width">
                                        <mat-label>Auto Model</mat-label>
                                        <input matInput type="text" placeholder="Enter the automobile's model"
                                               formControlName="autoModel"
                                        >
                                        <mat-error
                                                *ngIf="validation.autoModel.errors && (calculatorForm.touched || calculatorForm.dirty)">
                                            required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <mat-form-field class="input-field-width">
                                        <mat-label>User Estimated Yearly Income</mat-label>
                                        <input matInput type="text" placeholder="Enter your annual income"
                                               [value]="calculatorForm.value.userEstimatedYearlyIncome"
                                               formControlName="userEstimatedYearlyIncome"
                                               (input)="currencyFormat($event,'userEstimatedYearlyIncome')">
                                        <mat-error
                                                *ngIf="validation.userEstimatedYearlyIncome.errors && (calculatorForm.touched || calculatorForm.dirty)">
                                            required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row align-items-end">
                                <div class="col-12 ">
                                    <mat-form-field class="input-field-width">
                                        <mat-label>User Estimated Credit Score</mat-label>
                                        <input matInput type="number" placeholder="Enter the your credit score"
                                               formControlName="userEstimatedCreditScore"
                                        >
                                        <mat-hint align="end">Value must between 300 and 850</mat-hint>
                                        <mat-error
                                                *ngIf="calculatorForm.controls['userEstimatedCreditScore'].errors?.required && (calculatorForm.touched || calculatorForm.dirty)">
                                            required
                                        </mat-error>
                                        <mat-error
                                                *ngIf="calculatorForm.controls['userEstimatedCreditScore'].errors?.RangeCheck && (calculatorForm.touched || calculatorForm.dirty)">
                                            value must between 300 and 850
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 button-col">
                            <button
                                    class="d-flex align-items-center submit-button"
                                    type="submit"
                                    mat-stroked-button
                                    [disabled]="!calculatorForm.valid"
                            >
                                Submit Loan Request
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
