<div class="container">
<!--    <div class="menu">-->
<!--        <div class="row">-->
<!--            <menu class="col-12">-->
<!--                <button class="mx-auto" mat-stroked-button routerLink="/landing" routerLinkActive="active">Landing-->
<!--                </button>-->
<!--                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">-->
<!--                    <mat-icon>more_vert</mat-icon>-->
<!--                </button>-->
<!--                <mat-menu #menu="matMenu" >-->
<!--                    <button mat-menu-item>-->
<!--                        <mat-icon>notifications_off</mat-icon>-->
<!--                        <span>Disable alerts</span>-->
<!--                    </button>-->
<!--                </mat-menu>-->
<!--            </menu>-->
<!--        </div>-->
<!--    </div>-->
    <div class="row">
        <div class="col-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
